<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href ="{% static 'CSS/cover.css' %}" rel="stylesheet">
    {% block stylesheets %} {% endblock stylesheets %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="text-center">


    <div class="container d-flex p-3  mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Project S</h3>
          <nav class="navbar nav-masthead justify-content-center">
            
            <a class="nav-link m-2" href="{% url 'home' %}">Home</a>
            <a class="nav-link m-2" href="{% url 'Article_list' %}">Articles</a>
            <a class="nav-link m-2" href="{% url 'New_simple_articles' %}">Simple Articles</a>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item m-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >{{user.username}}</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'reviewer_inbox' %}"> Pending Reviews </a>
                  <a class="dropdown-item" href="{% url 'approver_inbox' %}"> Pending Approvals </a>
                  <a class="dropdown-item" href="{% url 'submitter_inbox' %}"> My submissions </a>
                  <a class="dropdown-item" href="#"> My Profile </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}"> Log Out </a>
                </div>
              </li>
            </ul>
            
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
          </nav>
        </div>
      </header>
    </div>
      
        {% block cover %}
        {% endblock cover %}
        
        {% block content %}
        {% endblock content %}
      
    
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>