{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="container">
    <h1 class="text-justify"> Simplified Articles </h1>
</div>
<form method="get">
<div class="container">
    <div class="row">
        <div class="col-4 bg-transparent">
            <h2> Filter Options </h2>
            
                {% include 'includes/simple_filter.html' %}
                <button class="btn btn-outline-secondary" type="submit"> Add filter </button>
            
        </div>
        <div class="col-8">
            <div class="input-group mb-3">
                {% render_field filter.form.article__name class="form-control" %}
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"> Search </button>
                </div>
            </div>
            
            {% for article in new_simples %}
            <div class="card bg-transparent mb-2 shadow-lg rounded" style="max-height: 15rem;">
                <div class="card-header text-justify">
                    <h5><a href="{% url 'Simple_article_detail' article.pk %}"> Simplified: {{article.article.name | truncatechars:50}}</a></h5>
                    <div class="d-flex justify-content-between">
                        <p class="text-light"> 
                            Written by: {{article.created_by}}
                        </p>
                        <p class="text-light"> 
                           Created at: {{article.created_at}}
                        </p>
                    </div>
                    
                    
                </div>
                <div class="card-body pt-1">
                    <div class="card-text text-justify ">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, repudiandae quibusdam. Tempore at quam ad harum fugit dolore sequi nisi, ipsum voluptatem, perspiciatis minima. Praesentium neque esse iste architecto assumenda.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</form>
{% include 'includes/paginator.html' %}






{% endblock content %}