{% extends 'base.html' %}
{% block content %}
<div class="container p-3">

        <div class="row">
            <div class="col-4">

            </div>

            <div class="col-8">
                <div class="row justify-content-center">
                    <form action="{% url 'Article_list' %}" method="GET">
                        <div class="input-group" >
                                <input class="form-control" type="text" name="q" value={{request.GET.q}}>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit"> Search </button>
                                </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>



<main role="main" class="inner cover">
<div class="container">
    <div class="row">
        <div class="col-4 bg-transparent">
            <h2> Filter Options </h2>
            <form method="get">
                {% include 'includes/filter.html' %}
                <button class="btn btn-outline-secondary" type="submit"> Add filter </button>
            </form>
        </div>
        <div class="col-8">
            {% for article in articles %}
            <div class="card bg-transparent mb-2 border-dark" style="max-height: 15rem;">
                <div class="card-header text-justify">
                    <h5><a href="{% url 'Article_detail' article.pk %}"> SIMPLIFIED - {{article.article.name}}</a></h5>
                    <p class="text-light"> 
                        {{article.first_author}}, {{article.PI}} 
                    </p>
                </div>
                <div class="card-body pt-1">
                    <div class="card-text text-justify ">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, repudiandae quibusdam. Tempore at quam ad harum fugit dolore sequi nisi, ipsum voluptatem, perspiciatis minima. Praesentium neque esse iste architecto assumenda.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</main>









{% endblock content %}