{% extends 'review.html' %}
{% block content %}







<div class="container-fluid">
    <h1 class="text-justify text-white"> My submissions </h1>
</div>

<div class="container-fluid m-3">
    
    <div class="row">
        <!-- <div class="col-4 bg-transparent">
            <h2> Filter Options </h2>
            <form method="get">
                {% include 'includes/filter.html' %}
                <button class="btn btn-outline-secondary" type="submit"> Add filter </button>
            </form>
        </div> -->
        <div class="col-8">
            {% for submission in submissions %}
            <div class="row">
                <div class="card bg-transparent mb-2 shadow-lg" style="width: 60rem;" >
                    <div class="card-header text-justify">
                        <h5><a href="#">{{submission.article.name}}</a></h5>
                        <p class="text-light"> 
                            {{submission.article.first_author}}, {{submission.article.PI}} 
                        </p>
                    </div>
                    <div class="card-body pt-1 overflow-auto">
                        <h3 class="text-white">Simplified</h3>
                        <div class="card-text text-justify "> 
                            <div class="d-flex justify-content-between text-info my-2">
                                <div>
                                    Status: {{submission.status}}
                                </div>
                                <div>
                                    {% if submission.status == "Awaiting submission" %}
                                        <form method="post">
                                            {% csrf_token %}
                                            <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                            <input type="submit" class="btn btn-success btn-sm" name="submit" value="Submit">
                                            <input type="hidden" name="id" value="{{submission.pk}}">
                                        </form>
                                    {% endif %}
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}